@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #000;
  --code: #30363d;
  --main: #fcb32c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--dark);
  color: #fff;
}
code {
  background-color: var(--code);
  color: #fff;
  padding: 5px;
  border-radius: 4px;
}

code a {
  color: var(--main);
  text-decoration: underline;
}

a {
  color: #fff;
  text-decoration: none;
}

/* .posts-grid {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
} */
